/*generic style*/

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70%;
    -webkit-tap-highlight-color: black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: #360303;
    font-size: 14px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: blanchedalmond;
}

footer,
nav {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: bolder;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #ddcae2;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 400px;
    background: #ddcae2;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    line-height: 50px;
    color: #ddcae2;
    text-align: center;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 50px;
}

h3 {
    line-height: 30px;
    padding: 20px 20px;
}

h4 {
    padding-top: 25px;
    padding-bottom: 0px;
    line-height: 40px;
    font-size: 22px;
    font-weight: 900;
    color: #ddcae2;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after,
.container:after,
.navbar::after {
    clear: both;
    display: table;
    content: "";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: "";
    /*top:0
    left:0;*/
    /*position: absolute; */
    /*to the top edge of the screen*/
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color:rgba(255,255,255,0.5);*/
}

.menu {
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    color: #c2a7d8;
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding: 12px 40px;
    border: 1px solid #000;
    border-radius: 1.5px;
    background-color: rgba(236, 123, 236, 0.3);
    cursor: pointer;
}

.menu:hover {
    color: #000;
}

.video {
    position: absolute;
    top: 45px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -100;
}

#home {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 100px;
    color: #fff;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: center;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}


/*contact style*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    margin: 0px auto;
    background-color: #f5b3b3ea;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#contact {
    background-color: #360303;
}

.order-now {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 0px auto;
    background-color: #550404;
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.order-now h4 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #ddcae2;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.order-now h4 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.8em;
    font-variant: small-caps;
    letter-spacing: .5pt;
    word-spacing: .3pt;
}

.order-now p {
    color: #ddcae2;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.order-now form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #131313;
    padding: 12px 12px;
    width: 70%;
    border: 1px dotted #360303;
    margin: 2% auto;
    border-radius: 10px;
    background: #360303;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.order-now input {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #131313;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #360303;
    border-right: 2px solid #550404;
    border-bottom: 2px solid #550404;
    border-left: 1px solid #360303;
    margin: 10px 1em;
    border-radius: 10px;
    background: #360303;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.order-now input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(236, 123, 236, 0.3);
}

.form-spacer {
    padding: 30px 30px;
}

.terms {
    margin: 30px 1px 0 0;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #ddcae2;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
    margin-top: 10%;
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    margin: 0px 5%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #360303;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #550404;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}


/*footer style*/

#footer {
    background-color: #360303;
    color: blanchedalmond;
    text-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 50px 20px 50px;
    text-align: right;
}


/*===============================
    MEDIA QUERIES
===============================*/

@media all and (max-width:640px) and (min-width:381px) {
    .head-main {
        font-size: 28px;
    }
}

@media all and (max-width:381px) and (min-width:200px) {
    .head-main {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*======================================
    GALLERY SECTION ANIMATION
======================================*/

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #550404;
    background-color: #360303;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    height: 300px;
    width: 300px;
}

.photo-container img {
    max-height: 100%;
    height: 300px;
    width: 300px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    /*for centering text inside.photo-overlay*/
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.white-head {
    color: #C9BDAA;
    margin-top: 5%;
}


/*==============================
    PHOTO OVERLAY TRANSITIONS
==============================*/

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}


/*w3schools*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.myslides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbtext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}